/*font */
@import url("https://fonts.google.com/specimen/Kumbh+Sans");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 15px;
    color: hsl(0, 0%, 59%);
}
h2{
    color:hsl(229, 23%, 23%) ;
}

.container{
    font-family: 'Kumbh Sans',sans-serif;
    font-weight: 400;
    width: 100%;
    min-height:100vh;
    background: hsl(185, 75%, 39%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("image/bg-pattern-top.svg"),url("image/bg-pattern-bottom.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: -120% 120%,180% -100%;
}

.profile_box{
  width: 50%;
  max-width: 350px;
  background: white;
  text-align: center;
  border-radius: 20px;
  position: relative;
}
.cover_img{
    display: block;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius:20px; 
}
.profile_img{
    width: 105px;
    border-radius: 50%;
    margin-top: -40px;
    box-shadow: 0 0 0 3px white;
    transition: box-shadow 0.5s;
    position: relative;
    margin-bottom: 20px;
}
.profile_img:hover{
    box-shadow: 0 0 0 5px  #BC9C22;
}
.inline-text{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;

}
.h2_color{
    color: hsl(0, 0%, 59%);
    font-weight: normal;
}
.information{
    margin-bottom: 25px;
}
.row{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 25px;
}



/* Mobile (375px) */
@media screen and (min-width: 320px) {
    
    h2 {
        color: green;
    }
    .container{
       max-width: 100%;
    }
    
}